body,
html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

.container {
  height: 100%;
  width: 100%;
}

//navbar content

.navbar {
  border: 1px solid #e2e2e2;
  height: 60px;
}

.navbar-logo {
  display: inline-block;
  margin-left: 3%;
  vertical-align: middle;
}

.navbar-username {
  float: right;
  line-height: 60px;
  padding-right: 20px;
}

.navbar::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.menubar-hamburger {
  display: none;
  float: right;

  img {
    height: 50px;
    position: relative;
    top: 10px;
    width: 50px;
    }
}

.hamburger-content {
  background-color: $main-color;
  border: 1px solid #ccc;
  display: none;
  padding: 10px 15px;
  position: absolute;
  right: 10px;
  width: 200px;
  z-index: 1;

  p {
    color: $widget-color;
    cursor: pointer;
    font-size: $font-size13;
    font-weight: 600;
    padding: 3px 0;
    text-transform: uppercase;
  }
}

.hamburger-content p:hover {
  color: #999;
}

.menubar-hamburger:hover .hamburger-content {
  display: block;
}


//sidebar content
.sidebar {
  background-color: $secondary-color;
  height: 100%;
  padding: 20px;
}

.dropdown-menu {
  background-color: $combo-color;
  border: 0;
  color: $white-color;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  margin: auto;
  outline: none;
  padding: 10px;
  width: 100%;
}

.dropdown-content {
  background-color: #f9f9f9;
  display: none;
  left: 20px;
  position: absolute;
  width: 248px;
  z-index: 1;

  a {
    color: $widget-color;
    display: block;
    font-size: $font-size15;
    padding: 5px 10px;
    }
}

.dropdown-content a:hover {
  color: $combo-color;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.sidebar-options-first {
  background-color: #223343;
  height: 100%;
  margin: 20px 0;
}

.options-block {
  display: table;
  padding: 15px 20px 0;

  p {
    color: $white-color;
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
  }

  img {
    display: table-cell;
    vertical-align: middle;
  }
}

.sidebar-location-image {
  background-color: #00AEF2;
  border-radius: 50%;
  display: table-cell;
  height: 35px;
  vertical-align: middle;
  width: 35px;

  i {
    color: $white-color;
    font-size: 20px;
    left: 7px;
    position: relative;
    top: 2px;
  }
}

.options-block-content {
  background: #005878;
  margin: 20px;
  padding: 5px 10px;
}

.block-content-heading {
  color: $white-color;
  font-size: $font-size14;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
  border-bottom: 1px solid;
  width: 70px;
}

.block-content {

  p {
    color: $white-color;
    display: inline-block;
    font-size: $font-size13;
    width: 100px;
  }

  span {
    color: $white-color;
    font-size: $font-size13;
  }
}

.sidebar-options-menu {
  color: $white-color;
  display: table;
  font-size: $font-size15;
  font-weight: 600;
  padding: 10px 25px;

  p {
    color: #f4f4f4;
    display: table-cell;
    font-size: $font-size15;
    letter-spacing: .3px;
    padding-left: 20px;
    vertical-align: middle;
  }

  img {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
  }
}

// main-bar content

.mainbar {
  background-color: #EBF0F1;
  height: 100%;
  padding: 20px;
}

.mainbar-heading {
  font-size: 20px;
  letter-spacing: .3px;
  text-align: center;

  i {
    bottom: 25px;
    float: right;
    position: relative;
  }

}

.mainbar-steps {
  background-color: $white-color;
  margin-top: 20px;
  padding: 30px 10px;
  text-align: center;
}

.steps-name {

  p {
    display: inline-block;
  }

  span {
    border-bottom: 1px solid $combo-color;
    color: $combo-color;
    font-size: $font-size14;
    margin-left: 5px;
    padding: 0 15px;
    width: 120px;
  }
}

.right-border {
  border-right: 1px solid #ccc;
}

.mainbar-content {
  margin-top: 20px;
}

.content-steps {
  background: $white-color;
  margin-top: 42px;
  text-align: center;
  width: 90%;
}

.content-steps-name {
  border-bottom: 1px dotted #ccc;
  padding: 20px 0;

  p:nth-child(1) {
    color: #555;
    font-size: $font-size15;
    margin: auto;
    padding-bottom: 10px;
    width: 40%;
    word-spacing: 2.3px;
  }

  p:nth-child(2) {
    color: #777;
    font-size: $font-size13;
  }
}

.content-options {
  width: 95%;
}

.options-heading {
  background: #00BCD7;
  color: $white-color;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;

  p {
    display: inline-block;
  }

  i {
    color: #000;
    bottom: 18px;
    float: right;
    font-size: 18px;
    left: 7px;
    position: relative;
  }
}

.options-box {
  background-color: $white-color;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 15px;
}

.graph-img {
    float: right;
  }

.waves-img {
    padding-top: 5px;
}

.box-heading {
  display: inline-block;
  padding: 5px 10px;
  width: 100px;
}

.box-percent {
  background-color: red;
  color: $white-color;
  float: right;
  font-size: $font-size13;
  font-weight: 700;
  padding: 1px 3px;
  position: relative;
  right: 10px;
  top: 5px;
}

.high-low-temp {
  display: inline-block;
  padding-top: 5px;
  width: 100px;
  vertical-align: top;

  p {
    color: #666;
    font-size: $font-size13;
    text-align: right;
  }
}

.partner-details {
  color: #0073B8;
  font-size: $font-size13;
  padding: 20px 10px 5px;
  text-align: right;

  p {
    display: inline-block;
  }

  i {
    display: inline-block;
    font-size: 15px;
    padding-right: 7px;
    vertical-align: middle;
  }
}

//media queries

@media only screen and (max-width: 900px) {
  .sidebar-hide {
    display: none;
    }

  .mainbar-100 {
    width: 100% !important;
  }

  .menubar-hamburger {
    display: block;
  }
}




